{% extends "layouts/base.html" %} 
{% load static %}
{% block title %}Usuarios{% endblock %}
{% block page_title %}Usuarios {% endblock %};
{% block breadcrumb %}
  <li class="breadcrumb-item">Administrador</li>
  <li class="breadcrumb-item"><a href="{% url 'usuarios_listar' %}">Usuarios</a>
  </li>
  <li class="breadcrumb-item active"> Confirmar mail</li>
{% endblock %};
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
  <div class="col">
    <form method="POST">
      <!-- Security token -->
      {% csrf_token %}
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title">Resetear contraseña usuario</h3>
        </div>
        <div class="card-body text-center">

          
          {%if email %}
          <div class="form-row">
            <div class="form-group col-12">
              <div class="mt-3 ">Se enviará un token de reseteo al mail:</div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-sm-3 mx-auto h3">
              {{email}}
            </div>
          </div>
            {% else%}
            <div class="row my-3">
            <span class="m-auto"><i class="fas fa-exclamation-triangle text-warning"></i> El usuario no posee email asociado a su cuenta. Por favor, edite su perfil para agregar un email válido.</span>
          </div>
            {% endif%}
        </div>

      </div>

      <div class="mt-4 mx-2">
        {%if email %}
        <button type="submit" class="btn btn-primary mr-1">Confirmar</button>
        {% endif%}
        <a href="{% url 'usuarios_editar' user.id %}" class="btn 
        {%if email %}
        btn-secondary
        {% else %}
        btn-primary
        {% endif%}
         mr-1">Cambiar
          mail</a>
        <a href="{% url 'usuarios_ver' user.usuarios.id %}" class="btn btn-secondary mr-1">Volver</a>

      </div>
    </form>
  </div>
</div>


{% endblock content%}

{% block customJS %}
{% endblock customJS%}