{% extends "layouts/base.html" %}
{% load static %}

{% block custom_head %}

<link
  href="https://cdn.datatables.net/v/dt/dt-2.0.2/b-3.0.1/b-html5-3.0.1/b-print-3.0.1/fh-4.0.1/r-3.0.0/datatables.min.css"
  rel="stylesheet">

{% endblock custom_head %}

{% block title %}Grupos de usuario{% endblock %}

{% block page_title %}Grupos de usuario{% endblock %}


{% block menu-adicional %}
{% endblock %};

{% block content %}
<div class="row d-flex justify-content-between my-3 mx-sm-2">
  <div class="col-12 col-sm-3 ">
    {%if perms.Usuarios.rol_admin%}
    <a class="btn btn-primary mb-2 mb-sm-0 d-block d-sm-inline" href="{% url 'grupos_crear'%}">Agregar</a>
    {%endif%}
  </div>
  <div class="col-12 col-sm-3 ">
    <form action="" method="GET">
      <div class="input-group">
        <input type="search" class="form-control form-control-md" placeholder="Buscar"
          value='{{ request.GET.busqueda }}' name='busqueda'>
        <div class="input-group-append">
          <button type="submit" class="btn btn-md btn-default ">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row ">
  <div class="col-12">
    <div class="card">
      <div class="card-body ">
        <table id="DataTableJS" class="table compact hover order-column row-border my-3" style="width: 100%">
          <thead class="thead-dark">
            <tr>
              <th>Grupo</th>
              <th>Permisos</th>
            </tr>
          </thead>
          <tbody>
            {% for grupo in object_list %}
            <tr data-href="{% url 'grupos_ver' grupo.id %}" style="cursor: pointer;" title="Ver detalles">
              <td>{{ grupo.name }}</td>
              <td>
                {% for permiso in grupo.permissions.all %}
                {{ permiso.codename|cut:"|" }}
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


{% endblock content %}


{% block customJS %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script
  src="https://cdn.datatables.net/v/dt/dt-2.0.2/b-3.0.1/b-html5-3.0.1/b-print-3.0.1/fh-4.0.1/r-3.0.0/datatables.min.js"></script>

<script src="{% static 'custom/js/dataTable.js' %}"></script>
<script>
  $(document).ready(function () {
    let dataTable = initDataTable('#DataTableJS');
  });
</script>
{% endblock %}